    <div class="myNavbar">
        <a class="active" href="/project02/mainPage">Home Page</a>
    
        <div class="search-container">
            <form id="navbarSearch" action="/project02/mainPage" method="get">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
