    <script>
        let isLoggedIn = false;
        let isAdmin = false;

        $.get("/project02/loggedIn", function(returnedInfo) {
            if (returnedInfo.isLoggedIn == true) {
                isLoggedIn = true;
                document.getElementById("signIn").href = "/project02/logout";
                document.getElementById("signIn").innerHTML = "Log Out";
            }
            if (returnedInfo.isAdmin == true) {
                isAdmin = true;
                document.getElementById("dropdown").style = "display:block";
            }
        });
    </script>
    
    <div class="myNavbar">
        <a class="active" href="/project02/mainPage">Home Page</a>
    
        <div class="myDropdown" id="dropdown" style="display:none">
            <button class="myDropbtn">Edit/Add 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="myDropdown-content">
              <a href="/project02/edit-add/movie">Movies</a>
              <a href="/project02/edit-add/director">Directors</a>
              <a href="/project02/edit-add/actor">Actors</a>
              <a href="/project02/edit-add/genre">Genres</a>
              <a href="/project02/edit-add/rating">Ratings</a>
            </div>
        </div>
        <a class="active" href="/project02/login" id="signIn">Sign In</a>

        <div class="search-container">
            <form id="navbarSearch" action="/project02/mainPage" method="get">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
