<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postal Rate</title>

    <script defer>
        function getStampedRate(weight) {
            if (weight <= 1)
                return 0.55;
            else if (weight <= 2)
                return 0.70;
            else if (weight <= 3)
                return 0.85;
            else if (weight <= 3.5)
                return 1.00;
            else
                return "Unknown";
        }

        function getMeteredRate(weight) {
            if (weight <= 1)
                return 0.50;
            else if (weight <= 2)
                return 0.65;
            else if (weight <= 3)
                return 0.80;
            else if (weight <= 3.5)
                return 0.95;
            else
                return "Unknown";
        }

        function getLargeRate(weight) {
            if (weight > 13)
                return "Unknown";

            var base = 1;
            var modWeight = Math.floor(weight);
            var difference = modWeight - base;

            return base + (difference * .15);
        }

        function getFirstClassRate(weight) {
            if (weight <= 4)
               return 3.66;
            else if (weight <= 8)
               return 4.39;
            else if (weight <= 12)
               return 5.19;
            else if (weight <= 13)
               return 5.71;
            else
               return "Unknown";
        }

        function getRate() {
            var type = <%- JSON.stringify(type) %>;
            var weight = Number(<%- JSON.stringify(weight) %>);
            var rate = 2;

            if (!type.localeCompare("stampedLetters")) {
                type = "Letters (Stamped)";
                rate = getStampedRate(weight);
            }
            else if (!type.localeCompare("meteredLetters")) {
                type = "Letters (Metered)";
                rate = getMeteredRate(weight);
            }
            else if (!type.localeCompare("largeEnv")) {
                type = "Large Envelopes (Flats)";
                rate = getLargeRate(weight);
            }
            else /* "firstClass" */ {
                type = "First-Class Package Service--Rental";
                rate = getFirstClassRate(weight);
            }

            if (isNaN(rate))
            {
                document.getElementById("result").innerHTML = "The postal rate for \"" + type + 
                    "\" weighing " + weight + " ounce(s) is unknown... The weight is probably too large.";
            }
            else
            {
                document.getElementById("result").innerHTML = "The postal rate for \"" + type + 
                    "\" weighing " + weight + " ounce(s) is $" + (Number(rate)).toFixed(2);
            }
        }
    </script>
</head>
<body onload="getRate()">
    <h2 id="result"></h2>
</body>
</html>