<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit/Add</title>
    <% include ../../partials/project02/header.ejs %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
	<script type="text/javascript" src="/functions/project02/editFunctions.js"></script>
</head>
<body onload="loadInfo()">
    <!--navbar here-->
    <% include ../../partials/project02/navbar.ejs %>

    <br/>
    <div id="message"></div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'add')" id="defaultOpen">Add a New Movie</button>
        <button class="tablinks" onclick="openTab(event, 'edit')">Update/Edit a Movie</button>
    </div>

    <div id="add" class="tabcontent container">
        <h2 id="heading" class="text-center">Add a Movie to the List</h2><br/>
        <form id="movieForm" class="form-horizontal" id="form"><!--action="/project02/movie" method="post">-->
            <div class="form-group">
                <label class="control-label col-sm-2" for="movieName">Movie Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="movieName" placeholder="" name="movieName" required>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <input type="button" value="Add a Director" onclick="addDirector('directorDiv')">
                <label class="control-label col-sm-2" for="director">Director(s):</label>
                <div class="col-sm-6" id="directorDiv"> 
                    <input list="directors0" name="director[]" id="director0">
                    <datalist id="directors0">
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Add an Actor" onclick="addActor('actorDiv')">
                <label class="control-label col-sm-2" for="actor">Starring Actor(s):</label>
                <div class="col-sm-6" id="actorDiv">
                    <input list="actors0" name="actor[]" id="actor0">
                    <datalist id="actors0">
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="summary">Movie Summary:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="summary" name="summary" rows="5" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="rated">Rated:</label>
                <div class="col-sm-2">
                    <select class="form-control" name="rated" id="rated" required>
                    </select>
                </div>
            </div>

            <hr>
            <h3 class="text-center">Select the genres</h3>
            <div id="genres"></div>

            <br/>

            <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="submitButton" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div id="edit" class="tabcontent">
        <br/>
        <p style="position:absolute; right:50%;"><i class="fa fa-refresh material-icons w3-spin w3-jumbo"></i></p>
        <br/><br/><br/>
        <h3 class="text-center">This page is currently under construction - for this assignment it was not necessary, but eventaully would
            be cool to have.
        </h3>
    </div>

    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

        $("#submitButton").click(function() {
            var url = "/project02/movie";
            var stuff = document.getElementsByName("director[]");//$('[name="director[]"]');
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify($("#form").serialize()), // serializes the form's elements.
                success: function(results)
                {
                    //alert(data); // show response from the php script.
                    if (results.success) {
                        document.getElementById("message").innerHTML = '<div class="alert alert-success text-center">' +
                            '<strong>Success</strong>' +
                            '</div>';

                        // clear the form (on success) // for some reason this doesn't work
                        $("#form").trigger("reset");
                        
                        // scroll back to top of page so that user sees the message
                        window.scrollTo(0, 0);
                    }
                    else {
                        document.getElementById("message").innerHTML = '<div class="alert alert-danger text-center">' +
                            '<strong>Failed: ' + results.error + '</strong>' +
                            '</div>';
                        
                        // scroll back to top of page so that user sees the message
                        window.scrollTo(0, 0);
                    }
                }
            });
        
            return false; // avoid the actual submit of the form.
        });
    </script>
</body>
</html>