<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit/Add</title>
    <% include ../../partials/project02/header.ejs %>

    <script>
        let page = <%- JSON.stringify(page) %>;
        let dataList;
        let divAddString = '<h2 id="addHeading" class="text-center">Add ' + page + '</h2>' +
            '<div class="col-sm-3"></div>' +
            '<div class="col-sm-6">' +
            '   <input type="text" class="form-control" id="add">' +
            '</div>' +
            '<div class="col-sm-3">' +
            '    <button class="btn btn-primary pull-left" onclick="add()">Add</button>' +
            '</div>';

        function loadPage() {
            // make sure that the div that we're adding to is empty before we begin
            document.getElementById("items").innerHTML = "";
            //document.getElementById("addHeading").innerHTML = "Add " + page;
            document.getElementById("editHeading").innerHTML = "Edit " + page;

            $.get("/project02/all" + page + "s", function(stuff) {
                if (stuff.success == false) {
                    document.getElementById("loadingText").innerHTML = "There was an error retrieving data - " + stuff.results;
                }
                else {
                    document.getElementById("loadingText").innerHTML = "";
                    dataList = stuff.results;
                    //stuff.results.forEach(addItemToList);
                    setDivToDataList();
                }
            });
        }

        function setDivToDataList() {
            document.getElementById("div").innerHTML = divAddString;

            let divString = "";
            dataList.forEach(function(item, index) {
                divString += addToDivString(item, index);
            });

            document.getElementById("items").innerHTML = divString;
        }

        function addToDivString(item, index) {
            let string = '\n<div>' +
                        '<div class="col-sm-3"></div>' +
                        '<div class="col-sm-6">' +
                            '<input type="text" class="form-control" id="' + page + index + '" value="' + item.data + '">' +
                        '</div>' +
                        '<div class="col-sm-3">' +
                            '<button class="pull-left" style="font-size:20px; margin-bottom:50px;" onclick="edit(\'' + index + '\')"><i class="fa fa-edit"></i></button>' +
                            '<button class="pull-left" style="font-size:20px; margin-bottom:50px;" onclick="deleteItem(\'' + index + '\')"><i class="fa fa-trash"></i></button>' +
                        '</div>' +
                    '</div>\n';
            
            return string;
        }

        function add() {
            var text = document.getElementById("add").value;

            if (text != "" && confirm("Adding \"" + text + "\" to the database"))
            {
                let postPath = "/project02/" + page;
                $.post(postPath, {name: text}, function(stuff) {
                    if (stuff.success == true) {
                        // reload the page so that the item is added to the list
                        loadPage();

                        document.getElementById("message").innerHTML = '<div class="alert alert-success text-center">' +
                                '<strong>Successfully added "' + text + '" to database.</strong>' +
                            '</div>';

                    }
                    else {
                        document.getElementById("message").innerHTML = '<div class="alert alert-danger text-center">' +
                                '<strong>Failed to add "' + text + '" to database.</strong>' +
                            '</div>';
                    }
                });
            }
        }

        function edit(index) {
            let text = document.getElementById([page + index]).value;
            // confirm that the user wants to update the text
            if (confirm("You are going to change \"" + dataList[index].data + "\" to \"" + text + "\"")) {
                let postPath = "/project02/update/" + page;
                $.post(postPath, {oldValue: dataList[index].data, newValue: text}, function(stuff) {
                    if (stuff.success == true) {
                        // reload the page so that the item in the list is updated
                        loadPage();

                        document.getElementById("message").innerHTML = '<div class="alert alert-success text-center">' +
                                '<strong>Successfully updated ' + page + ' to "' + text + '"</strong>' +
                            '</div>';

                    }
                    else {
                        document.getElementById("message").innerHTML = '<div class="alert alert-danger text-center">' +
                                '<strong>Failed to update ' + page + ' to "' + text + '"</strong>' +
                            '</div>';
                    }
                });
            }
        }

        function deleteItem(index) {
            let text = document.getElementById(page + index).value;

            // confirm that the user wants to delete the item
            if (confirm("You are going to delete \"" + text + "\". Click OK if this is what you want")) {
                let postPath = "/project02/delete/" + page;
                $.post(postPath, {value: text}, function(stuff) {
                    if (stuff.success == true) {
                        // reload the page so that the item in the list is updated
                        loadPage();

                        document.getElementById("message").innerHTML = '<div class="alert alert-success">' +
                                '<strong>Successfully deleted "' + text + '" from the database.</strong>' +
                            '</div>';

                    }
                    else {
                        document.getElementById("message").innerHTML = '<div class="alert alert-danger">' +
                                '<strong>Failed to delete "' + text + '" from the database. This is likely because ' +
                                    'other movies in the database depend on this data.</strong>' +
                            '</div>';
                    }
                });
            }
        }
    </script>
</head>
<body onload="loadPage()">
    <!--navbar here-->
    <% include ../../partials/project02/navbar.ejs %>

    <br/>
    <div id="message" class="text-center"></div>
    <div class="container">
        
        <div id="div">
            <h2 id="addHeading" class="text-center">Add</h2>
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="add">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary pull-left" onclick="add()">Add</button>
            </div>
        </div>
        <br/><br/><hr>

        <h2 id="editHeading" class="text-center">Edit</h2>
        <h3 id="loadingText" class="text-center">Loading ...</h3>
        <div id="items"></div>
    </div>

    <script>
        $("#navbarSubmit").click(function() {
            let searchWord = (document.getElementById("search").value).toLowerCase();
            document.getElementById("div").innerHTML = '<div class="text-center"><h2>Search results for: "' + searchWord + '"</h2>' +
                '<a onclick="setDivToDataList()" class="previous">&laquo; Go Back</a></div>';

            // search for the term in the movie list
            let indexList = [];
            dataList.forEach(function(result, index) {
                if (((result.data).toLowerCase()).indexOf(searchWord) >= 0) {
                    indexList.push(index);
                }
            });

            // display the matched cases
            let divString = "";

            indexList.forEach(function(item, index) {
                count = indexList[index];
                divString += addToDivString(dataList[count], count);
            });

            document.getElementById("items").innerHTML = divString;
            return false; // avoid the actual submit of the form.
        });
    </script>
</body>
</html>