<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Rentals</title>
    <% include ../../partials/project02/header.ejs %>

    <script>
        var movieArray;
        function query() {
            $.get("/project02/getAllMovieData", function(returnedInfo) {
                if (returnedInfo.success == false) {
                    document.getElementById("loadingText").innerHTML = "Something went wrong with the AJAX request...";
                    return;
                }
                
                movieArray = returnedInfo.movieArray;
                setDivToMovieList();
            });
        }

        function setDivToMovieList() {
            var divString = "";
            for(var i = 0; i < movieArray.movies.length; i++) {
                divString += addToDivString(i);
            }

            document.getElementById("loadingText").innerHTML = "";
            document.getElementById("movies").innerHTML = divString;
            document.getElementById("div").innerHTML = '<h2>Movie Selections</h2>';
        }

        function addToDivString(i) {
            let divString = "<div class='row'>\n" +
                "<div class='col-md-2'><p></p></div>\n" +
                    "<div class='col-md-8'>\n" +
                        "<div class = 'pull-left'>\n" +
                            "<img src = 'movie_pictures/" + movieArray.movies[i].picture_filepath + "' class = 'picture'>\n" +
                        "</div>\n" +
                        "<div>\n" +
                            "<h4>" + movieArray.movies[i].movie_name + "</h4><hr>\n" +
                            "<h5><b>Director(s): </b>";

                            for(var j = 0; j < movieArray.movies[i].directors.length; j++) {
                                divString += movieArray.movies[i].directors[j].director_name;
                                if (j != movieArray.movies[i].directors.length - 1)
                                    divString += ", ";
                            }

                            divString += "</h5>\n" +
                                "<h5><b>Starring Actors: </b>";
                    
                            for(var j = 0; j < movieArray.movies[i].actors.length; j++) {
                                divString += movieArray.movies[i].actors[j].actor_name;
                                if (j != movieArray.movies[i].actors.length - 1)
                                    divString += ", ";
                            }
                    
                            divString += "</h5>\n" +
                                "<h5><b>Genres: </b>";

                            for(var j = 0; j < movieArray.movies[i].genres.length; j++) {
                                divString += movieArray.movies[i].genres[j].genre_type;
                                if (j != movieArray.movies[i].genres.length - 1)
                                    divString += ", ";
                            }
                    
                            divString += "</h5><br/>\n\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n\n" +                             
                                "<button type='button' class='btn btn-secondary' onclick='showDetails(\"" + i + "\")'>View Details</button>\n" +
                        "</div>\n" +
                        "<hr>\n" +
                    "</div>\n" +
                "</div>\n";

            return divString;
        }

        function showDetails(index) {
            let divString = '<div class="col-md-2"><p></p></div>\n' +
                '    <div class="col-md-8">\n' +
                '    <h3 class = "text-center">' + movieArray.movies[index].movie_name + '</h3><hr>\n' +
                '        <div class = "pull-left">\n' +
                '            <img src = "movie_pictures/' + movieArray.movies[index].picture_filepath + '" class = "main-picture">\n' +
                '        </div>\n' +
                '        <div>\n' +
                '            <p>' + movieArray.movies[index].movie_summary + '</p><br/>\n' +
                '            <h5><b>Director(s): </b>\n';
                            for(var j = 0; j < movieArray.movies[index].directors.length; j++) {
                                divString += movieArray.movies[index].directors[j].director_name;
                                if (j != movieArray.movies[index].directors.length - 1)
                                    divString += ", ";
                            }
                            divString += '</h5>\n' +
                '            <h5><b>Starring Actors: </b>\n';
                            for(var j = 0; j < movieArray.movies[index].actors.length; j++) {
                                divString += movieArray.movies[index].actors[j].actor_name;
                                if (j != movieArray.movies[index].actors.length - 1)
                                    divString += ", ";
                            }
                            divString += '</h5>\n' +
                '            <h5><b>Genres: </b>\n';
                            for(var j = 0; j < movieArray.movies[index].genres.length; j++) {
                                divString += movieArray.movies[index].genres[j].genre_type;
                                if (j != movieArray.movies[index].genres.length - 1)
                                    divString += ", ";
                            }
                            divString += '</h5>\n' + 
                '            <h5><b>Rated: </b>' + movieArray.movies[index].movie_rating + '</h5><br/>\n' +
                '        </div>\n'+
                '    </div>\n' +
                '</div>\n';

            document.getElementById("movies").innerHTML = divString;
            document.getElementById("div").innerHTML = '<a onclick="setDivToMovieList()" class="previous">&laquo; Go Back</a>';
        }
    </script>
</head>
<body onload="query()">
    <% include ../../partials/project02/navbar.ejs %>
    <!--navbar goes here-->
    <br/><div id="div" class="text-center"><h2>Movie Selections</h2></div><br/><hr>

    <h3 id="loadingText" class="text-center">Loading the movies ...</h3>
    <div id="movies"></div>

    <script>
        $("#navbarSubmit").click(function() {
            let searchWord = strtolower(document.getElementById("search").value);
            document.getElementById("div").innerHTML = '<a onclick="setDivToMovieList()" class="previous">&laquo; Go Back ' +
                '<h2>Search results for: ' + searchWord + '</a>';

            // search for the term in the movie list
            let searchList = [];
            let indexList = [];
            movieArray.movies.forEach(function(movie, index) {
                if ((strpos(strtolower(movie.movie_name), searchWord) !== false) ||
                    (strpos(strtolower(movie.movie_summary), searchWord) !== false) ||
                    (strpos(strtolower(movie.movie_rating), searchWord) !== false)) {
                        searchList.push(movie);
                        indexList.push(index);
                        return; // breaks out of one iteration of loop and continues with the next iteration
                    }
                else {
                    // search through directors
                    movie.directors.forEach(function(director, index) {
                        if ((strpos(strtolower(director), searchWord) !== false)) {
                            searchList.push(movie);
                            indexList.push(index);
                            return; // breaks out of one iteration of loop and continues with the next iteration
                        }
                    });

                    // actors
                    movie.actors.forEach(function(actor, index) {
                        if ((strpos(strtolower(actor), searchWord) !== false)) {
                            searchList.push(movie);
                            indexList.push(index);
                            return; // breaks out of one iteration of loop and continues with the next iteration
                        }
                    });

                    // genres
                    movie.genres.forEach(function(genre, index) {
                        if ((strpos(strtolower(genre), searchWord) !== false)) {
                            searchList.push(movie);
                            indexList.push(index);
                            return; // breaks out of one iteration of loop and continues with the next iteration
                        }
                    });
                }
            });

            // we should now have all the movies with something matching the search word -> display them
            let divString = "";

            searchList.forEach(function(item, index) {
                divString += addToDivString(indexList[index]);
            });

            document.getElementById("movies").innerHTML = divString;
            return false; // avoid the actual submit of the form.
        });
    </script>
</body>
</html>